<%- include("partials/_header.ejs") -%>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">Clean Blog</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
          aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <%- include("partials/_navigation.ejs") -%>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Clean Blog</h1>
              <span class="subheading">A Blog Theme by Start Bootstrap</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <% for (let i=0; i < posts.length; i++){ %>
            <div class="post-preview">
              <a href="/post">
                <h2 class="post-title">
                  <%= posts[i].title %>
                </h2>
                <h3 class="post-subtitle">
                  <%= posts[i].subTitle %>
                </h3>
              </a>
              <p class="post-meta">Posted by
                <a href="/">Start Bootstrap</a>
                on <%= posts[i].datecreated %>
              </p>
            </div>
            <hr>
            <% } %>
              <!-- Pager -->
              <div class="clearfix">
                <a class="btn btn-primary float-right" href="/">Older Posts &rarr;</a>
              </div>
        </div>
      </div>
    </div>

    <hr>

    <%- include("partials/_footer.ejs") -%>


      <!-- Custom scripts for this template -->
      <script src="js/clean-blog.min.js"></script>

  </body>

  </html>